*{
    background-color: #1E1E1E;
    list-style: none;
    color: #f2f2f2;
    text-decoration: none;
    text-shadow: none;
    /* border: solid 2px red; */
    outline: none;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

.main{
    display: flex;
    height: 80%;
}
.Home{    
    display: flex;
    border-radius: 10pt;
    padding: 10pt;
    margin: 5pt;
    background-color: #262A40;
    height: 16%;
}
.Home .list{
    background-color: #262A40;
}
.Home img{
    background-color: #262A40;
}

.Biblioteca{
    display: flex;
    border-radius: 10pt;
    margin: 5pt;
    height: 81%;

    /* Bro, 300pt es mucho padding  */
    /* padding: 10pt 10pt 300pt ; */

    padding: 10pt;


    background-color: #262A40;
}
.Biblioteca img{
    background-color: #262A40;
    margin-right: 5pt;
    height: 24pt;
}

.Principal{
    /* display: flex; */
    border-radius: 10pt;
    margin: 5pt;
    background-color: #262A40;
    height: 98%;
    width: 100%;


    /* Bro, 300pt es mucho padding X2 */
    /* padding: 10pt 10pt 300pt ; */
    padding: 10pt;
}
.tracklist {
    height: 100%;
    overflow-y: auto;
}
.tracklist img{
    height: 100%;
    border-radius: 10pt;
    
}
.Principal .Tracklist{
    background-color: #262A40;
    padding: 10pt;
}
.Principal .canciones img{
    height: 40pt;
    margin: 5pt;
}

.PanelDerecho{
    background-color: #262A40;
    border-radius: 10pt;
    margin: 5pt;

     /* Bro, 300pt es mucho padding X3 */
    /* padding: 10pt 10pt 300pt ; */
    padding: 10pt;
}
.Album{
    border-radius: 10pt;
    background-color: #262A40;
}

footer.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 18%;
    background-color: #262A40;
    border-radius: 10pt;
    margin: 5pt;
}
footer.footer .footer__img {
    height: 100px;
    background-color:#262A40;
    padding-right: 8pt;
}
footer.footer .footer__img img {
    height: 100%;
    object-fit: cover;
}
audio{
    background-color:#262A40;
    padding-left: 8pt;
}
h4{
    background-color: #262A40;
}
p{
    background-color: #262A40;
}
h2{
    background-color: #262A40;
}
